
p{
    margin: 0;
}
.image img{
    width: 500px;
}
body{
    background-color: black;
    
}
.post{
    background-color: white;
    width: 500px;
    padding: 5px;
    
}
.top{
    display: flex;
}
.menuIcon img{
    position: relative;
    top: 20%;
    width: 20px;
}
.icon img{
    width: 35px;
}
.title{
    width: 450px;
}

.icons img{
    width: 30px;
}
.icons{
    margin-bottom: 7px;
    display: flex;
}
.send{
    margin-right: 380px;
}